body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    color: #333;
}

/* Navigation */
header {
    background: white;
    padding: 15px 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.links li {
    margin-left: 35px;
}

.home {
    background: #222;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.links a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

section {
    padding: 120px 90px;
}
.text_home {
    max-width: 550px;
}
.text_home h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.text_home h2 {
   font-size: 34px;
    margin-bottom: 15px;
}

.highlight {
    color: #00ccff;
}

.sub{
    font-size: 18px;
    margin-bottom: 25px;
    color: #ddd;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background: #00ccff;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.btn:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}

.t2 img {
        width: 460px;
        height: 460px;
        margin-top: 20px;
        margin-left: 80px;
        border-radius: 30% 70% 70% 30% ;

    }

.title {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 3%;
}

.skill{
    margin-bottom: 50px;
}

.skill-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill_box {
    background: rgb(172, 102, 204);
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    font-weight: bold;
    margin-right: 50px;
}

.exercise {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 คอลัมน์ */
    grid-template-rows: repeat(4, auto);   /* 4 แถว */
    gap: 25px;
}

.ex_box {
    background: white;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 50px;
}

.contact-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,.contact-form textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.contact-form button {
    border: none;
    cursor: pointer;
}

@media (max-width: 1023px) {
    .exercise {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .home {
        flex-direction: column;
        text-align: center;
    }

    .t2 img {
        width: 260px;
        height: 260px;
        margin-top: 20px;
    }

    section {
        padding: 20px 30px;
    }

    nav {
        flex-direction: column;
        gap: 15px;
    }

    .links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .links li {
        margin: 10px 15px;
    }
}


@media (max-width: 768px) {
    .text_home h1 {
        font-size: 36px;
    }

    .text_home h2 {
        font-size: 26px;
    }

    .sub {
        font-size: 16px;
    }

    .t2 img {
        width: 220px;
        height: 220px;
        margin-left: 0;
    }
    .skill-group {
        flex-direction: column;
        align-items: center;
    
        section {
        padding: 60px 20px;
    }
    }
}

    .skill_box {
        width: 80%;
        text-align: center;
        margin-right: 0;
    }

@media (max-width: 600px) {
    .exercise {
        grid-template-columns: 1fr;
    }
    .contact-form {
        width: 100%;
        padding: 0 10px;
    }
}    
